* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header header header"
                        "nav nav nav"
                        "main main main"
                        "aside aside aside"
                        "footer footer footer";

}

/* Style start of header */
header {
  grid-area: header;
}

header h1 {
  text-align: center;
  padding: 50px;
  font-size: 25px;
  color: #FFFFFF;
}
/* Style end of header */

/* Style start of nav */
nav {
  padding: 10px;
  grid-area: nav;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul li a:hover {
  color: #212121;
}

nav  ul li {
  margin: 0 15px 0 15px;
}
/* Style end of nav */

/* Style start of main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  grid-area: main;
}

main div {
  height: 200px;
  background: #F5F5F5;
  width: 200px;
  margin: 15px;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div h3 {
  margin-top: 10px;
}

main div img {
  height: 140px;
  width: 120px;
  border-radius: 10px;
}
/* Style end of main */

/* Style start of aside */
aside {
  grid-area: aside;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside h3 {
  color: #FFFFFF;
}
/* Style end of aside */

/* Style start of footer */
footer {
  grid-area: footer;
  color: #FFFFFF;
  text-align: center;
  padding: 8px;
}
/* Style end of footer */
