/* Extra small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap */

/*
=====================================================

Small devices (landscape phones, 576px and up)

=====================================================
*/
@media (min-width: 576px) { }

/*
=====================================================

Medium devices (tablets, 768px and up)

=====================================================
*/
@media (min-width: 768px) { 
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header"
                          "nav nav nav"
                          "main main aside"
                          "footer footer footer";
  
  }
  
  /* Style start of aside */
  aside {
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  /* Style end of aside */
}
/*
=====================================================

Large devices (desktops, 992px and up) 

=====================================================
*/
@media (min-width: 992px) {
  /* Style start of header */
  header h1 {
    padding: 100px;
    font-size: 60px;
  }
  /* Style end of header */

  /* Style start of nav */
  nav ul li a {
    font-size: 16px;
  }
  /* Style end of nav */

  /* Style start of main */
  main {
    max-width: 1000px;
  }

  main div {
    height: 400px;
    width: 400px;
  }

  main div img {
    height: 300px;
    width: 250px;
  }
  /* Style end of main */
}

/*
=====================================================

Extra large devices (large desktops, 1200px and up)

=====================================================
*/
@media (min-width: 1200px) { }